nav {
    width: 100%;
    background-color: $bcolor1;
    display: flex;
    justify-content: space-around;
    color: white;
    position: fixed;


    .ndiv1 {
        width: 25%;
        height: 50px;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .ndiv2 {
        width: 50%;
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    a {
        text-decoration: none;
        color: white;
        &:hover{
            color: $color1;
        }
        &:active{
            color: $color1;
        }
    }

    ul {
        list-style: none;
        display: flex;
        gap: 30px;
    }

    .ndiv3 {
        width: 50px;
        height: 50px;
        display: none;

        i {
            font-size: 40px;
        }
    }
}
@media screen and (max-width:767px) and (min-width:320px) {
    nav {
        .ndiv2 {
            display: none;
        }

        .ndiv3 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}