section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sdiv1 {
        width: 80%;
        height: 200px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            color: #aaaaaa;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 2px;

            &::after {
                content: "";
                width: 120px;
                height: 1px;
                display: inline-block;
                background: orange;
                margin: 4px 10px;
                box-sizing: border-box;
            }
        }
        p{
            font-size: 36px;
            font-weight: 700;
            color: #2a2c39;
        }
    }
    .sdiv2{
        width: 80%;
        display: flex;
        gap: 10px;
    }
    .sdiv2 div{
        width: 50%;
        height: 400px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            i{
                color: orange;
                font-size: 20px;
            }
        }
        button{
            width: 150px;
            height: 50px;
            font-size: 18px;
            border-radius: 5px;
            border: 2px solid orange;
            a{
                text-decoration: none;
                color: orange;
            }
        }
    }
}
@media screen and (max-width:767px) and (min-width:320px) {
    section{
        width: 100%;
        height: 800px;
        .sdiv2{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .sdiv2 div{
            width: 80%;
            height: 250px;
            font-size: 14px;
        }
    }
}