body{
    background-color: #333;
}
nav{
    background-color: bisque;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
nav div{
    background-color: red;
    width: 100px;
    height: 50px;
}
section{
    width: 100%;
    position: relative;
    height: 800px;
    background-image: url('https://img.freepik.com/free-photo/group-friends-eating-pizza-together-home_23-2150419448.jpg?size=626&ext=jpg&ga=GA1.1.1560582703.1696587340');
    background-repeat: no-repeat;
    background-size: cover;
}
.sdiv1{
    position: absolute;
    background-color: greenyellow;
    width: 250px;
    height: 250px;
    z-index: 2;
    border-radius: 50%;
    top: 100px;
    left: 100px;
}
.sdiv2{
    position: absolute;
    background-color: red;
    width: 350px;
    height: 350px;
    z-index: 2;
    left: 100px;
    top: 370px;
}
.sdiv3{
    position: absolute;
    background-color: blue;
    width: 150px;
    height: 50px;
    z-index: 2;
    left: 100px;
    top: 740px;
    border-radius: 25%;
}
.div1{
    background-color: red;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.div1 div{
    background-color: blue;
    width: 350px;
    height: 350px;
}
.div2{
    background-color: blue;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.div2 div{
    background-color: red;
    width: 450px;
    height: 450px;
}
.div3{
    position: relative;
    background-color: red;
    width: 100%;
    height: 1450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.div3_1{
    position: absolute;
    top: 20px;
    left: 30%;
    background-color: violet;
    width: 500px;
    height: 150px;
}
.div3_2{
    background-color: blue;
    width: 450px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.div3_2 div{
    background-color: violet;
    width: 450px;
    height: 300px;
}
.div4{
    width: 100%;
    position: relative;
    height: 800px;
    background-image: url('https://img.freepik.com/free-photo/front-view-woman-with-delicious-pizza_23-2150347912.jpg?size=626&ext=jpg&ga=GA1.1.1560582703.1696587340');
    background-repeat: no-repeat;
    background-size: cover;
}
.div4_1{
    position: absolute;
    background-color: greenyellow;
    width: 250px;
    height: 250px;
    z-index: 2;
    border-radius: 50%;
    top: 100px;
    left: 100px;
}
.div4_2{
    position: absolute;
    background-color: red;
    width: 350px;
    height: 350px;
    z-index: 2;
    left: 100px;
    top: 370px;
}
.div4_3{
    position: absolute;
    background-color: blue;
    width: 150px;
    height: 50px;
    z-index: 2;
    left: 100px;
    top: 740px;
    border-radius: 25%;
}
.div5{
    background-color: red;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div5 div{
    background-color: blue;
    width: 350px;
    height: 350px;
}
footer{
    background-color: gray;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
footer div{
    background-color: black;
    width: 350px;
    height: 70px;
}