$bcolor1: #2a2c39;
$color1: #ef6603;
$fofa: Verdana, Geneva, Tahoma, sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fofa;
}

@import 'nav';
@import 'header';
@import 'section';
@import 'con1';
@import 'con2';
@import 'aside';