$bcolor1: #444444;
$fofa: Verdana, Geneva, Tahoma, sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fofa;
}

@import 'nav';
@import 'header';
@import 'section';
@import 'con1';